#post-displayer {
  width: 100%;
  font-family: "Classic Grotesque W01", "Avenir Next", "Segoe UI", "Helvetica Neue", Arial, "Hiragino Sans GB", "PingFang SC", "Heiti SC", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans", sans-serif;
}

#post-displayer .post-view {
  width: 100%;
  color: #5c5c5c;
  font-size: 16px;
}

#post-displayer .post-view h1,h2,h3,h4 {
  color: #444;
  margin: 0.7rem 0;
}

#post-displayer .post-view h1 {
  font-size: 32px;
} 

#post-displayer .post-view h2 {
  font-size: 24px;
} 

#post-displayer .post-view p {
  width: 100%;
  text-indent: 2em;
  text-align: left;
}

#post-displayer .post-view p img {
  width: 100%;
  margin-left: -2em;
}

#post-displayer .post-view p a {
  color: #08c;
  text-decoration: none;
}

#post-displayer .post-view blockquote {
  display: block;
  border-left: 4px solid #555;
  padding: 0.5rem;
  margin: 0.7rem 0;
}

#post-displayer .post-view blockquote p {
  margin: 0;
}